@model DatingApp.Models.FriendUserViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Friend";
}


@if (SignInManager.IsSignedIn(User))
{
    <h2>Friends</h2>
    if (Model != null)
    {
        @foreach (var item in Model.Friends)
        {
            <div class="card post mb-3">
                <div class="card-header">
                    <div class="media">
                        @if (@item.SecondPerson.PersonId == Model.PersonId)
                        {
                            <a href="@Url.Action("Profile", "Person", new { id = item.FirstPerson.PersonId })" class="card-link">
                                <img class="mr-1" src="@Url.Action("LoadPicture", "Person", new { id = item.FirstPerson.PersonId })" height="32" width="32" />
                                <span class="badge badge-light">@item.FirstPerson.FirstName @item.FirstPerson.LastName</span>
                            </a>
                        }
                        @if (item.FirstPerson.PersonId == Model.PersonId)
                        {
                            <a href="@Url.Action("Profile", "Person", new { id = item.SecondPerson.PersonId })" class="card-link">
                                <img class="mr-1" src="@Url.Action("LoadPicture", "Person", new { id = item.SecondPerson.PersonId })" height="32" width="32" />
                                <span class="badge badge-light">@item.SecondPerson.FirstName @item.SecondPerson.LastName</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>Du har inga vänner..</h2>
    }
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}