@model IEnumerable<DataLayer.Models.Person>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-latest.js"></script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple dating app!</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Search" asp-action="Result" method="get">
        <div class="search-button">
            <p>
                <i class="fas fa-search"></i>
                <input type="text" id="search" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button id="searchBtn" type="submit">Search</button>
            </p>
        </div>
    </form>

    //Submit search button when pressing enter key inside input field
    <script>
        $(document).ready(function () {
            $("#search").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $("#searchBtn").click();
                }
            });
        });
    </script>

    <center>
        @foreach (var item in Model)
        {
            <div class="exempel">
                <a href=@Url.Action("Index", "Person", new { id = item.PersonId })>
                    <img width="200" height="200" src="@Url.Action("RenderProfileImage", "Person", new { userId = item.PersonId })" />
                </a>
                <a class="nameLink" href="@Url.Action("Profile", "Person", new { id = item.PersonId })">
                    <h4 class="card-title">@item.FirstName @item.LastName</h4>
                </a>
                <p class="card-text">@item.Description</p>
            </div>
        }
    </center>
}

else
{
    <button id="friendStatus"></button>

    @switch (ViewBag.PersonRelation)
    {
        case "Friends":
            <button class="btn btn-danger" id="FriendBtn">Remove Friend</button>
            break;
        case "IncomingRequest":
            <button class="btn btn-info" id="FriendBtn">Incoming Friend Request</button>
            break;
        case "OutgoingRequest":
            <button class="btn btn-warning" id="FriendBtn">Cancel Friend Request</button> 
            break;
        case "NotFriends":
            <button class="btn btn-info" id="FriendBtn">Send Friend Request</button>
            break;
        default:
            break; // This should never happen
     }

    <center>
        @foreach (var item in Model)
        {
            <div class="exempel">
                <a asp-area="Identity" asp-page="/Account/Login" )>
                    <img width="200" height="200" src="@Url.Action("RenderProfileImage", "Person", new { userId = item.PersonId })" />
                </a>
                <a class="nameLink" asp-area="Identity" asp-page="/Account/Login">
                    <h4 class="card-title">@item.FirstName @item.LastName</h4>
                </a>
                <p class="card-text">@item.Description</p>
            </div>
        }
    </center>
}